.fondo_menu{
	background-color: #375A7F;
}
.titulo_aplicacion {
    color: #fff;
    cursor: pointer;
    text-shadow: -1px 1px 1px #ccc;
}
.menu ul {
	padding: 0;
	margin: 20px 0;
}
.menu ul li{
	position: relative;
	list-style: none;
	display: inline-block;
}
.menu ul li a{
	color: #fff;
	padding: 19.5px;
}
.menu ul li a:hover{
	color: #00bc8c;
}
.texto_rigth{
	text-align: right;
}
footer{
	position: absolute;
    bottom: 0;
    padding: 10px;
    text-align: center;
    color: #fff;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 21px;
}
.table {
    background-color: transparent;
}
.table {
    border-collapse: collapse;
    border-spacing: 0;
}
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #464545;
}